<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  This app was built for android fans by a fanboy <a href="https://twitter.com/cmutty">(cmutty)</a>
  who thinks waiting for apps to launch on android really sucks <a href="https://docs.google.com/spreadsheet/pub?key=0AiO3NjaPLKgRdFlxMTYzZHdlbFREemY5TzU2SmNBNHc&output=html">(also excel is a pain to keep updated)</a>. The starting point is a wish list for early adopters with the goal of getting developer participation for release dates, beta testing, etc. Twitter integration and mobile app coming soon. 
</p>