<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  For more information about this project contact:
  <a href="https://twitter.com/cmutty">cmutty</a>.
  To report a bug or suggest a feature contact:
  <a href="mailto:hello@asonios.com">asonios support</a>.
</p>