<% provide(:title, 'Home') %>
<div class="center hero-unit">
<h1>asonios</h1>
<p>
  Track iOS only mobile apps with the asonios Demo App to build a wish list and get alerts when they launch on Android.
</p>

<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
<%= image_tag "asonios_full.png", id: "brandfull" %>
