<% provide(:title, 'All Apps') %>
<h1>All Apps</h1>

<ul class="apps">
  <% @apps.each do |app| %>
    <li>
      <%= image_tag "asonios.png", size: 52 %>
      <%= link_to app.name %>
      <%= app.description %>
    </li>
  <% end %>
</ul>

<!--replaced appimage_for w/ image_tag -->