<% provide(:title, @app.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
    <%= image_tag "asonios.png" %>
	<%= @app.name %>
	  </h1>
	  <p> 
	<%= @app.description %>
	  </p>
    </section>
  </aside>
</div>

