<footer class="footer">
  <small>
    Developed with guidance from the
    <a href="http://railstutorial.org/">Rails Tutorial</a>
    by Michael Hartl
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://twitter.com/cmutty">Follow on Twitter</a></li>
    </ul>
  </nav>
</footer>